* {
    font-family: "Arial Black", sans-serif;
    color: black;
}

#heading {
    margin-left: 7vw;
}

#profile-picture {
    background-color: #d2d2d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 60px;
    border-radius: 12px;
    float: left;
    margin-right: 60px;
}

#username {
    font-size: 60px;
}

button{
    height: 45px;
}

.col-md-3 {
    font-size: 30px;
}

#achievementsHeading {
    margin-left: 60px;
    font-size: 50px;
}

.achievementBox {
    margin: 15px;
    padding: 15px;

    float: left;

    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;

    font-size: 1.2em;
}

.achievementBox:hover{
    background-color: #363736;
}
