*{
    font-family: "Arial Black", sans-serif;
}

body {
    background-color: white;
    /*background-color: rgba(230,214,144,0.5);*/
}

.draggable{
    position: absolute;
    z-index: 10;
    cursor: move;
}

img.draggable{ /* all draggableIngredients */
    height: 100px;
    width: auto;
}

div.draggable{ /* all draggable pizzas */
    display: inline-block;
}

div.draggable > img{ /* ingredients on pizzas */
    height: 100px;
    width: auto;
}

.unclickable{
    pointer-events: none;
}

#startStop_overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with 50% opacity */
    z-index: 90; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#startStop_overlay_text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#timerRushmode{
    position: relative;
    top: 20%;
}

#upper_container{
    display: flex;

    width: 100%;
    height: 15vh;
    margin: 20px auto 20px auto;
}

#left_upper_container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right_upper_container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#oven_container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    /*height: 150px;
    margin: 20px auto 20px auto;*/

}

.oven{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 100%;
}

.oven > img{
    height: 100%;
    width: auto;
    padding: 10px;
}

section{
    display: flex;

    height: 80vh;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll_container{
    overflow-y: scroll;

    height: 80%;
}

#ingredientSection{
    flex: 1;
    min-width: 200px;
    margin: 0 20px 0 20px;

}

#orderSection{
    flex: 1;
    margin: 0 20px 0 20px;
    min-width: 200px;

}

#workSurface{
    flex: 3;
    background: rgba(150, 150, 150, 0.2);
}

.box{
    display: flex;
    align-items: center;

    margin: 5px 0 5px 0;
    background-color: white;
    font-size: 1.2em;
    border: 4px solid black;
}

.box:hover{
    background-color: rgba(150, 150, 150, 0.2);
}

.ingredientSectionItem{

}

.ingredientSectionItem > img{
    height: 30px;
    width: auto;

    margin: 7px;
}

.order{

    height: 2.5em;
    /*padding-left: 5px;*/
}

.order > p{
    box-sizing: border-box;
    padding-left: 5px;
}

.order > div{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#miniGame_layer{
    visibility: hidden;

    position: absolute;
    z-index: 50;

    height: 99vh;
    width: 99vw;
}

.miniGame_window{
    display: flex;

    width: 75vw;
    height: 75vh;
    min-height: 500px;
    min-width: 600px;

    padding: 30px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    border: 4px solid black;
}

.miniGame_playArea{
    flex: 4;

    border: 2px solid black;
}

.miniGame_sideBar{
    flex: 1;

    display: block;
}