* {
    font-family: "Arial Black", sans-serif;
    color: black;
}

.left_div {
    float: left;
    width: 30%;
    padding: 1%;
    margin: 1%;
    background-color: #d2d2d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}

.middle_div {
    float: left;
    width: 25%;
    padding: 1%;
    margin: 1%;
    background-color: #a5a5a5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right_div {
    float: left;
    width: 30%;
    padding: 1%;
    margin: 1%;
    background-color: #5b5b5b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .left_div {
        width: 100%;
    }
    .middle_div {
        width: 100%;
    }
    .right_div {
        width: 100%;
    }
}

.bottom_div {
    padding: 1%;
    margin: 1%;
    background-color: #696969;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-picture {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #d2d2d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

#username {

}

button{
    height: 45px;
}

#container_friends{ /*Definiert Position der Freundesliste*/
    text-align: center;
}

#chat_heading {
    text-align: center;
}

#achievementsHeading {

}

.achievementBox {
    margin: 15px;
    padding: 15px;

    float: left;

    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;

    font-size: 1.2em;
}

.achievementBox:hover{
    background-color: #363736;
}
