* {
    font-family: "Arial Black", sans-serif;
    color: black;
}

.container_friends{
    position: absolute;
    right: 0;
    top: 0;
}

#friends_heading{
    text-align: center;
}

#heading {
    margin-left: 7vw;
}

#profile-picture {
    background-color: #d2d2d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 60px;
    border-radius: 12px;
    float: left;
    margin-right: 60px;
}

#username {
    font-size: 60px;
}

button{
    height: 45px;
}

#rank {
    font-size: 30px;
}

#achievementsHeading {
    margin-left: 60px;
    font-size: 50px;
}

.achievementBox {
    margin: 15px;
    padding: 15px;

    float: left;

    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;

    font-size: 1.2em;
}

.achievementBox:hover{
    background-color: #363736;
}

#level {
    font-size: 30px;
}

/*unused*/
#xpBalken {
    border: 7px solid #000000;
    height:30px;
    width:200px;
}
