#tutorialWindow{
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px black solid;
    margin: auto;
    width: 70%;
    padding: 10px;
    transform: translate(-50%, -50%);
}
#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid;
    max-height:80vh;
    max-width: 80vw;
}
#container_information{
    padding-bottom: 10px;
    text-align: center;
    font-family: "Calibri Light", serif;
    font-size: 30px;

}
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 4px;
    position: relative;
    background-color: white;
    border: 2px black solid;
    color: black;
    padding: 20px;
    width: 200px;
    transition-duration: 0.4s;
    overflow: hidden;
    border-radius: 4px;
}

.button:hover {
    background: black;
    color: white;
}

.button:after {
    content: "";
    background: grey;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button:focus { outline:0; }