.container {
    border: 2px solid #454545;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    text-align: right;
    border-color: #454545;
    background-color: #acacac;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: left;
    color: #5d5d5d;
}

.time-left {
    float: right;
    color: #5d5d5d;
}