*{
    font-family: "Arial Black", sans-serif;
}

body{
    display: flex;
    align-items: center;

    height: 95vh;
}

.memoryCard > p{
    margin: 20px;
}

.memoryCard{

    height: 100em;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 15%;

    min-height: 180px;
    max-height: 200px;
    max-width: 200px;

    margin: 10px;

    background: rgba(150, 150, 150, 0.5);
    border: 1px solid black;
}

#memoryBox{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 50vw;
    max-height: 90vh;

    overflow: hidden;

    margin-left: auto;
    margin-right: auto;

    font-size: 1.2em;


}