@(title: String)(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style_createAccount-page.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="functions_createAccount-page.js"></script>
    <script type="text/javascript" src="functions.js"></script>
    <title>Account erstellen</title>
</head>
<body>

<h1>PIZZA RAGAZZI</h1>

<form action="index.html" name="loginForm" onsubmit="return validateCreateAccountData()">

    <br><br><br>
    <label for="username">BENUTZERNAME</label>
    <br>
    <input class="inputExceptPasswords" type="text" id="username" name="username" required>
    <br><br>
    <label for="email">EMAIL</label>
    <br>
    <input class="inputExceptPasswords" type="email" id="email" name="email" required>
    <br><br>
    <label for="password">PASSWORT</label>
    <div class="divPasswordInputs">
        <br>
        <input class="inputPasswords" type="password" id="password" name="password" required>
        <span id="visibilityButton1" class="material-icons">
        visibility_off
        </span>
    </div>
    <br>
    <label for="password2">PASSWORT WIEDERHOLEN</label>
    <div class="divPasswordInputs">
        <br>
        <input class="inputPasswords" type="password" id="password2" name="password2" required>
        <span id="visibilityButton2" class="material-icons">
        visibility_off
        </span>
    </div>
    <br><br>
    <input class="inputExceptPasswords" id="createAccount_button" type="submit" value="CREATE ACCOUNT">

</form>

</body>
</html>