@(title: String)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/menu.css")">
        <link rel="shortcut icon" type="image_path/png" href="@assetsFinder.path("images/favicon.png")">
        <title>Menu</title>
    </head>
    <body>
            <!--Navigation bar-->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!--end of Navigation bar-->

        <div class="container">
            <button class="button" onclick="location.href = '/memory'" type="button">
                Memory
            </button>
            <br>
            <button class="button" onclick="location.href = '/pizzaRush'" type="button">
                Pizza Rush
            </button>
            <br>
            <button class="button" onclick="location.href = ''" type="button">
                Tutorial
            </button>
        </div>

    </body>
</html>