@(implicit assetsFinder: AssetsFinder)

<link rel="stylesheet" type="text/css" href="@assetsFinder.path("../../public/stylesheets/style_navbar.css")">
<div class="nav">

    <input type="checkbox">
    <span></span>
    <span></span>

    <ul class="menu">
        <li><a href="@routes.HomeController.main()">Home</a></li>
        <li><a href="@routes.HomeController.profile()">Profile</a></li>
        <li><a href="@routes.HomeController.highscore()">Highscores</a></li>
        <li><a href="@routes.HomeController.logout()">Logout</a></li>
    </ul>
</div>
