@(title: String)(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style_pizzarush.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/functions_pizzarush.js")"></script>

        <title>Pizza-Rush</title>
    </head>

    <body onload="populateIngredientSection();
    populateOrderSection();countdown(120)">

            <!--NAVIGATION BAR ------------->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!------------------------------>

        <div id="pizza_layer"> </div>

            <!--diese Ebenen sorgen dafür, dass z.B Tomaten immer über Teig gerendert werden usw. -->
        <div id="dough_layer"> </div>
        <div id="tomato_layer"> </div>
        <div id="cheese_layer"> </div>
        <div id="salami_layer"> </div>


        <div id="upper_container">
            <div id="left_upper_container">
                <h1 id="timer"></h1>
            </div>
            <div id="oven_container">
                <img class="oven" src=@routes.Assets.versioned("images/oven.png") alt="Ofen"/>
                <img class="oven" src=@routes.Assets.versioned("images/oven.png") alt="Ofen"/>
                <img class="oven" src=@routes.Assets.versioned("images/oven.png") alt="Ofen"/>
                <img class="oven" src=@routes.Assets.versioned("images/oven.png") alt="Ofen"/>
            </div>
            <div id="right_upper_container">
                <h1 id="currentlyDisplayedPoints">Points: 0</h1>
            </div>
        </div>

        <section>

            <div id="ingredientSection">
                <h1>INGREDIENTI</h1>

                <div class="scroll_container">

                        <!--INGREDIENT LIST POPULATED DYNAMICALLY -->

                </div>

            </div>

            <div id="workSurface"></div>

            <div id="orderSection">
                <h1>ORDINI</h1>

                <div class="scroll_container">

                        <!--ORDER LIST POPULATED DYNAMICALLY -->

                </div>

            </div>

        </section>

    </body>
</html>