@(title: String)(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image_path/png" href="@assetsFinder.path("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style_pizzarush.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/functions_pizzarush.js")"></script>

        <title>Pizza-Rush</title>
    </head>

    <body onload="  loadGameElements()">

            <!--NAVIGATION BAR ------------->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!------------------------------>

        <div id="startStop_overlay" onclick="manageRushCountdown(120, 'timerRushmode')">
            <div id="startStop_overlay_text">Click anywhere to start!</div>
        </div>

        <button onclick="startMiniGame()">Start Fruit-Ninja</button>

        <div id="miniGame_layer"> </div>

        <div id="pizza_layer"> </div>

        <div id="ingredient_layer"> </div>


        <div id="upper_container">
            <div id="left_upper_container">


                <h1 id="timerRushmode"></h1>
            </div>

            <div id="oven_container"></div>

            <div id="right_upper_container">
                <h1 id="currentlyDisplayedPoints">Points: 0</h1>
            </div>
        </div>

        <section>

            <div id="ingredientSection">
                <h1>INGREDIENTI</h1>

                <div class="scroll_container">

                        <!--INGREDIENT LIST POPULATED DYNAMICALLY -->

                </div>

            </div>

            <div id="workSurface">
                <div id="ingredientSurface"></div>

                <div id="lowerSurfaces">
                    <div id="cuttingSurface">
                        <div class="buttonContainer">
                            <input class="miniGameButton" id="startFruitNinja" type="image" src="/assets/images/knife.png"/>
                        </div>
                    </div>

                    <div id="smashingSurface">
                        <div class="buttonContainer">
                            <input class="miniGameButton" id="startWhackAMole" type="image" src="/assets/images/rollingpin.png"/>
                        </div>
                    </div>
                </div>
            </div>


            <div id="orderSection">
                <h1>ORDINI</h1>

                <div class="scroll_container">

                        <!--ORDER LIST POPULATED DYNAMICALLY -->

                </div>

            </div>

        </section>

        <div id="lower_container">



        </div>

    </body>
</html>