@(title: String)(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image_path/png" href="@assetsFinder.path("images/favicon.png")">

        <link rel="stylesheet" type="text/css" href=@routes.Assets.versioned("stylesheets/style_profile-page.css")>
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style_friendlist.css")">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src=@routes.Assets.versioned("javascripts/functions_profile-page.js")></script>
        <script type="text/javascript" src=@routes.Assets.versioned("javascripts/functions_friendlist.js")></script>


        <title>Profile-Page</title>
    </head>

    <body id="body" onload="setup()">
            <!--Navigation bar-->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!--end of Navigation bar-->

        <div class="wrap">
            <div class="left_div">
                <img id="profile-picture" alt="profile-picture" src=@routes.Assets.versioned("images/profile-icon.png")>
                <form name="userForm">
                    <h1 id="username">Username</h1>
                </form>
                <div id="p-image"></div>
                <br>
                <div id="mail"></div>
                <br>
                <div id="tier">Tier</div>
                <div id="gesamtpunkte"></div>
                <div id="highscore"></div>
                <br>
                <button id="profileButton">Edit Profile</button>
            </div>

            <div class="middle_div">
                <div id="container_friends">
                    <h1 id="friends_heading">Friends</h1>
                    <div id="friends-placeholder">
                        <script>getFriendsData()</script>
                    </div>
                </div>
            </div>

            <div class="right_div">
                <h1 id="chat_heading">Chat</h1>
            </div>
        </div>

        <div class="bottom_div">
            <h1 id="achievementsHeading">Achievements:</h1>
            <div id="achievements_table">
                <script> displayAchievements() </script>
            </div>
        </div>

    </body>
</html>