@(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image_path/png" href="@assetsFinder.path("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style_tutorial.css")">

        <title>Tutorial</title>
    </head>
    <body onload="start()">
            <!--NAVIGATION BAR ------------->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!------------------------------>
        <div id="tutorialWindow">
            <img id="video" src="" alt="tutorialGif"/>
            <div id="container_information">
                <div id="description">Short description</div>
                <button class= "button" id="nextButton" onclick=nextGif()>Got it</button>
            </div>
        </div>
        <script>
                var index = 0;
                var videos = [];
                var descriptions = [];

                function start() {
                    videos.push("@assetsFinder.path("images/tutorial/getting-Ingredients.gif")")
                    descriptions.push("Work with ingredients by clicking on them and then dragging them around");

                    videos.push("@assetsFinder.path("images/LoadingGif_Pizza.gif")")
                    descriptions.push("turn");
                    nextGif();
                }

                function nextGif() {
                    document.getElementById("video").src = videos[index];
                    document.getElementById("description").innerText = descriptions[index];
                    index = index + 1;
                }
        </script>
    </body>
</html>