@(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image_path/png" href="@assetsFinder.path("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style_tutorial.css")">

        <title>Tutorial</title>
    </head>
    <body onload="start()">
            <!--NAVIGATION BAR ------------->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!------------------------------>
        <div id="tutorialWindow">
            <img id="video" src="" alt="tutorialGif"/>
            <div id="container_information">
                <div id="description">Short description</div>
                <div id="currentPosition">position (0/0)</div>
            </div>
            <button class= "button" id="nextButton" onclick=nextGif()>OK</button>
        </div>
        <script>
                let index = 0;
                const videos = [];
                const descriptions = [];

                function start() {
                    videos.push("@assetsFinder.path("images/tutorial/getting_ingredients.gif")")
                    descriptions.push("Erhalte eine Zutat indem du auf sie klickst und sie herumziehst");

                    videos.push("@assetsFinder.path("images/tutorial/correct_processing.gif")")
                    descriptions.push("Ziehe Zutaten zur passenden Verarbeitungsmethode");

                    videos.push("@assetsFinder.path("images/tutorial/stomping_ingredients.gif")")
                    descriptions.push("Klicke schnell auf die Zutaten um sie zu stampfen");

                    videos.push("@assetsFinder.path("images/tutorial/cutting_ingredients.gif")")
                    descriptions.push("Fahre mit gedrückter Maustaste über die Zutaten um sie zu schneiden\nTipp: Pass auf die faulen Zutaten auf, wenn du sie erwischt musst du warten!")

                    videos.push("@assetsFinder.path("images/tutorial/combine_ingredients.gif")")
                    descriptions.push("Ziehe Zutaten auf einen ausgerollten Teig, um ihn zu belegen")

                    videos.push("@assetsFinder.path("images/tutorial/baking_pizzas.gif")")
                    descriptions.push("Ziehe eine belegte Pizza in den Ofen um sie zu backen\nTipp: Behalte die Zeit im Auge, zu lange im Ofen und die Pizza brennt an!")

                    videos.push("@assetsFinder.path("images/tutorial/delivering_pizzas.gif")")
                    descriptions.push("Ziehe die Pizzen in die passende Bestellung bevor diese abläuft um Punkte zu erhalten\nTipp: Nur gebackene und richtig belegte Pizzen geben alle Punkte!")

                    videos.push("@assetsFinder.path("images/tutorial/receiptbook.gif")")
                    descriptions.push("Hovere über die Rezeptliste falls du beim Belegen unsicher bist")

                    nextGif();
                }

                function nextGif() {
                    if (index + 1 > descriptions.length) index = 0;
                    document.getElementById("video").src = videos[index];
                    document.getElementById("description").innerText = descriptions[index];
                    const position = index + 1;
                    document.getElementById("currentPosition").innerText = "(" + position + "/" + videos.length + ")";
                    index++;
                }
        </script>
    </body>
</html>