@(implicit assetsFinder: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image_path/png" href="@assetsFinder.path("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style_tutorial.css")">

        <title>Tutorial</title>
    </head>
    <body onload="start()">
            <!--NAVIGATION BAR ------------->
        <div id="nav-placeholder">@navbar.render(assetsFinder)</div>
            <!------------------------------>
        <div id="tutorialWindow">
            <img id="video" src="" alt="tutorialGif"/>
            <div id="container_information">
                <div id="description">Short description</div>
                <div id="currentPosition">position</div>
            </div>
            <button class= "button" id="nextButton" onclick=nextGif()>Got it !</button>
        </div>
        <script>
                var index = 0;
                var videos = [];
                var descriptions = [];

                function start() {
                    videos.push("@assetsFinder.path("images/tutorial/getting_Ingredients.gif")")
                    descriptions.push("Work with ingredients by clicking on them and then dragging them around");

                    videos.push("@assetsFinder.path("images/tutorial/correct_Processing.gif")")
                    descriptions.push("To process Ingredients, you have to choose the fitting Method");

                    videos.push("@assetsFinder.path("images/tutorial/stomping_Ingredients.gif")")
                    descriptions.push("Click on them in the minigame to process them");

                    nextGif();
                }

                function nextGif() {
                    if (index + 1 > descriptions.length) index = 0;
                    document.getElementById("video").src = videos[index];
                    document.getElementById("description").innerText = descriptions[index];
                    var position = index + 1;
                    document.getElementById("currentPosition").innerText = "(" + position + "/" + videos.length + ")";
                    index = index + 1;
                }
        </script>
    </body>
</html>